@use "./hotel-page.scss";

.main {
  &__wrapper {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    padding: 0px 24px 12px 24px;
  }
  &__tours {
    margin: 46px 0 26px 0;
    position: relative;
    &-link {
      color: $red-500;
      font-weight: 700;
      &--mobile {
        display: none !important;
      }
    }
    &-inner {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 24px 0;
    }
    &-slider {
      display: block;
      &--block {
        display: none;
      }
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  &__tours-carving {
    position: absolute;
    left: -135px;
    top: -40px;
    z-index: -1;
  }
  &__hotels {
    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      margin: 26px 0 12px 0;
    }
    &-link {
      color: $red-500;
      font-weight: 700;
      &--mobile {
        display: none !important;
      }
    }
    &-cards {
      display: flex !important;
      flex-direction: column;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      gap: 8px;
      justify-items: center;
      align-items: center;
    }
  }
  &__reviews {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 26px 0;
    &-cards {
      &--mobile {
        display: none !important;
      }
    }
  }
}

.title {
  font-size: clamp(1.25rem, 0.989rem + 1.3vw, 2rem);
  font-weight: 700;
  line-height: 40px;
  color: $surface-900;
}

.button-primary {
  background-color: $red-500;
  padding: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.button-secondary {
  border: 1px solid $red-500;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $red-500;
  font-weight: 400;
  background-color: transparent !important;
}

:global(.swiper-pagination) {
  position: relative !important;
  bottom: -30px;
}

@media (max-width: 768px) {
  .main {
    &__tours {
      margin-top: 170px;
      &-carving {
        display: none;
      }
      &-link {
        display: none;
      }
    }
    &-slider {
      display: flex;
      justify-content: center;
    }
    &__hotels-cards {
      grid-template-columns: repeat(2, 1fr);
    }
    &__hotels {
      &-link {
        display: none;
        &--mobile {
          width: 100%;
          margin: 0 auto;
          border: 1px solid $red-500;
          color: $red-500;
          padding: 8px 0 !important;
          text-align: center;
          margin-top: 16px;
          justify-content: center;
          display: flex !important;
          gap: 12px;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .main {
    &__tours {
      &-slider {
        display: none;
        &--block {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 16px;
        }
      }
      &-link {
        &--mobile {
          max-width: 327px;
          width: 100%;
          margin: 0 auto;
          border: 1px solid $red-500;
          color: $red-500;
          padding: 8px 0 !important;
          text-align: center;
          margin-top: 16px;
          justify-content: center;
          display: flex !important;
          gap: 12px;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .main {
    &__reviews {
      &-cards {
        display: none;
        &--mobile {
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .main {
    &__wrapper {
      padding: 0 10px;
    }
  }
}
